# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
client = MongoClient()

str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

db = cursor.companies
colec = db.IH

In [2]:
# cursor.list_database_names()

# list(colec.find())

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [3]:
# Your Code

query = {'name': 'Babelgum'}
select = {'_id': 0, 'name': 1}
res = colec.find(query, select)

list(res)

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [4]:
# Your Code

query = {'number_of_employees': {'$gt' : 5000}}
res = colec.find(query).sort('number_of_employees', 1).limit(20)
# list(res)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [5]:
# Your Code

query = {'$and': [{'founded_year': {'$gte': 2000}},
                 {'founded_year': {'$lte': 2005}}]}

select = {'_id': 0, 'name': 1, 'founded_year': 1}

res = colec.find(query, select)

# list(res)

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [6]:
# Your Code

query = {'$and': [{'ipo.valuation_amount': {'$gt': 10e7}},
                  {'founded_year': {'$lt': 2010}}]}

select = {'_id': 0, 'ipo': 1, 'name': 1}

res = colec.find(query, select)
# list(res)

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [7]:
# Your Code

query = {'$and': [{'number_of_employees': {'$lt': 1000}},
                 {'founded_year': {'$gt': 2005}}]}

select = {'_id':0, 'number_of_employees': 1, 'founded_year': 1}

res = colec.find(query, select).sort('number_of_employees', -1).limit(10)
# list(res)

### 6. All the companies that don't include the `partners` field.

In [8]:
# Your Code

query = {'partners': {'$exists': False}}
select = {'_id': 0, 'name': 1}
res = colec.find(query)
list(res)

#no hay companies que no tengan partners

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [9]:
# Your Code

query = {'category_code': None}
select = {'_id': 0, 'name': 1}
res = colec.find(query, select)
# list(res)

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [10]:
# Your Code

query = {'$and': [{'number_of_employees': {'$gte': 100}},
                  {'number_of_employees': {'$lt': 1000}}] }

select = {'_id': 0,  'name': 1, 'number_of_employees': 1}
res = colec.find(query, select)
# list(res)

### 9. Order all the companies by their IPO price in a descending order.

In [24]:
# Your Code
select = {'_id': 0, 'ipo': 1, 'name': 1}

res = colec.find({}, select).sort('ipo.valuation_amount', -1)
# list(res)

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [26]:
# Your Code

select = {'_id': 0,  'name': 1, 'number_of_employees': 1}
res = colec.find({}, select).sort('number_of_employees', -1).limit(10)
# list(res)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [33]:
# Your Code
query = {'$and': [{'founded_month': {'$gte': 7}}]}
select = {'_id': 0,  'name': 1, 'founded_month': 1}
res = colec.find(query, select).limit(1000)
# list(res)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [41]:
# Your Code

query = {'$and': [{'acquisition.price_amount': {'$gt': 10e7}},
                 {'founded_year': {'$lt': 2000}}]}

select = {'_id':0, 'acquisition.price_amount': 1, 'founded_year': 1}

res = colec.find(query, select).limit(10)
# list(res)

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [47]:
# Your Code
query = {'acquisitions.acquired_year': {'$gt': 2010}}

select = {'_id':0, 'acquisitions': 1, 'name': 1}

res = colec.find(query, select).limit(10)
# list(res)

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [50]:
# Your Code
select = {'_id':0, 'name': 1, 'founded_year': 1}

res = colec.find({}, select).sort('founded_year', -1)
# list(res)

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [52]:
# Your Code

query = {'acquisitions.acquired_day': {'$lte': 7}}

select = {'_id':0, 'name': 1, 'acquisitions.acquired_day': 1}

res = colec.find(query, select).sort('acquisition.price_amount', -1).limit(10)
# list(res)

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [54]:
# Your Code

query = {'$and': [{'number_of_employees': {'$gt': 4000}},
                {'category_code': 'web'}]}
select = {'number_of_employees': 1, 'category_code': 1, '_id': 0}
res = colec.find(query, select).sort('number_of_employees', 1)
# list(res)

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [65]:
# Your Code
query = {'$and': [{'acquisition.price_amount': {'$gt': 10e6}},
                {'acquisition.price_currency_code': 'EUR'}]}
select = {'name': 1, 'acquisition.price_currency_code': 1, '_id': 0}
res = colec.find(query, select)
# list(res)

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [69]:
# Your Code
query = {'acquisitions.acquired_month': {'$lt': 4}}
select = {'acquisition': 1, 'name': 1, '_id': 0}
res = colec.find(query, select).limit(10)
# list(res)

[{'name': 'Facebook', 'acquisition': None},
 {'name': 'Twitter', 'acquisition': None},
 {'name': 'eBay', 'acquisition': None},
 {'name': 'CBS', 'acquisition': None},
 {'name': 'Viacom', 'acquisition': None},
 {'name': 'Cisco', 'acquisition': None},
 {'name': 'Yahoo!', 'acquisition': None},
 {'name': 'OpenX', 'acquisition': None},
 {'name': 'LifeLock', 'acquisition': None},
 {'name': 'Google', 'acquisition': None}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [2]:
# Your Code
query = {'$and': [{'founded_year': {'$gte': 2000}},
                 {'founded_year': {'$lte': 2010}},
                 {'acquisitions.acquired_year': {'$lt': 2011}}]}

select = {'_id': 0, 'name': 1, 'acquisitions.acquired_year': 1}

res = colec.find(query, select)
# list(res)

NameError: name 'colec' is not defined

### 20. All the companies that have been 'deadpooled' after the third year.

In [22]:
# Your Code