# Advanced Querying Mongo

In [208]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\cleme\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\cleme\anaconda3\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

Importing libraries and setting up connection

In [209]:
from pymongo import MongoClient
cursor = MongoClient()

In [210]:
db = cursor.companies

colec = db.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [211]:
# Your Code

query = {'name': 'Babelgum'}   # where name=Babelgum

select = {'name': True}   # select name from colec, dame solo el nombre


res = colec.find(query, select).limit(10)


list(res)

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [212]:
# Your Code
query = {'number_of_employees': {'$gt': 5000}}
select = {'_id': 0, 'name': 1, 'number_of_employees': 1}
sort = [('number_of_employees', -1)]
res = colec.find(query, select).sort(sort).limit(20)

list(res)

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [213]:
query = {"founded_year": {"$gte": 2000,"$lte": 2005}}
select = {"name": 1, "founded_year": 1, "_id" :0}

res = colec.find(query, select).limit(10).sort(sort)
list(res)

[{'name': 'Accenture', 'founded_year': 2001},
 {'name': 'MetaCarta', 'founded_year': 2001},
 {'name': 'Avaya', 'founded_year': 2000},
 {'name': 'Webkinz', 'founded_year': 2005},
 {'name': 'Liberty League International', 'founded_year': 2001},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Air Astana Airlines', 'founded_year': 2002},
 {'name': 'LinkedIn', 'founded_year': 2003},
 {'name': 'Symphony Services', 'founded_year': 2002},
 {'name': 'Globant', 'founded_year': 2003}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [214]:
# Your Code

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [215]:
# Your Code

query = {'$and': [{"founded_year": {"$lt": 2005}},{"number_of_employees": {"$lt": 1000}}]}
select = {"name": 1, "number_of_employees": 1, "_id": 0}
sort = [("number_of_employees", 1)]


res = colec.find(query, select).sort(sort).limit(10)

list(res)

[{'name': 'Skype', 'number_of_employees': 0},
 {'name': 'Simpy', 'number_of_employees': 0},
 {'name': 'Eurekster', 'number_of_employees': 0},
 {'name': 'Ticketmaster', 'number_of_employees': 0},
 {'name': 'Fox Interactive Media', 'number_of_employees': 0},
 {'name': 'stylediary', 'number_of_employees': 0},
 {'name': 'Monster', 'number_of_employees': 0},
 {'name': 'EditGrid', 'number_of_employees': 0},
 {'name': 'Compete', 'number_of_employees': 0},
 {'name': 'MindTouch', 'number_of_employees': 0}]

### 6. All the companies that don't include the `partners` field.

In [216]:
# Your Code
query = {"partners": {"$exist": False}}
select = {"name": 1,}

results = colec.find(query, select)

list(res)

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [217]:
# Your Code
query = {"category_code": None}
select = {"name": 1, "_id": 0}


res = colec.find(query,select).limit(10)
list(res)

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [218]:
# Your Code
query = {'number_of_employees': {'$gte': 100, '$lt': 1000}}
select = {'name': 1, 'number_of_employees': 1, '_id': 0}
res = colec.find(query, select).limit(10)
list(res)

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [219]:
# Your Code
query = {}
select = {'name': 1, 'ipo': 1, '_id': 0}
sort = [('ipo.valuation_amount', -1)]
res = colec.find(query, select).sort(sort).limit(10)

list(res)

[{'name': 'GREE',
  'ipo': {'valuation_amount': 108960000000.0,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Groupon',
  'ipo': {'valuation_amount': 12800000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NASDAQ:GRPN'}},
 {'name': 'Tencent',
  'ipo': {'valuation_amount': 11000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2004,
   'pub_month': 6,
   'pub_day': 16,
   'stock_symbol': 'HK:0700'}},
 {'name': 'Western Digital',
  'ipo': {'valuation_amount': 9430000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': None,
   'pub_month': None,
   'pub_day': None,
   'stock_symbol': 'NYSE:WDC'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'BMC Software',
  'ipo': {'valuation_amount': 6000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 1988,
   'pub_month': 8,
   'pub_day': 12,
   'stock_symbol': 'NASDAQ:BMC'}},
 {'name': 'Rackspace',
  'ipo': {'valuation_amount': 5440000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'RAX'}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [220]:
# Your Code
query = {'number_of_employees': {'$exists': True}}
select = {'name': 1, 'number_of_employees': 1, '_id': 0}
sort = [('number_of_employees', -1)]
res = colec.find(query, select).sort(sort).limit(10)

list(res)

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [221]:
# Your Code
query = {'founded_month': {'$gte': 7, '$lte': 12}}
select = {'name': 1, 'founded_month': 1, 'founded_year': 1, '_id': 0}
res = colec.find(query, select).limit(10)

list(res)

[{'name': 'Wetpaint', 'founded_year': 2005, 'founded_month': 10},
 {'name': 'Zoho', 'founded_year': 2005, 'founded_month': 9},
 {'name': 'Digg', 'founded_year': 2004, 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_year': 2005, 'founded_month': 11},
 {'name': 'eBay', 'founded_year': 1995, 'founded_month': 9},
 {'name': 'Joost', 'founded_year': 2006, 'founded_month': 10},
 {'name': 'Plaxo', 'founded_year': 2002, 'founded_month': 11},
 {'name': 'Powerset', 'founded_year': 2006, 'founded_month': 10},
 {'name': 'Kyte', 'founded_year': 2006, 'founded_month': 12},
 {'name': 'Thoof', 'founded_year': 2006, 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [222]:
# Your Code
query = {'$and': [{'founded_year': {'$lt': 2000}}, {'acquisition.price_amount': {'$gt': 1000000}}]}
select = {'name': 1, 'founded_year': 1, 'acquisition.price_amount': 1, '_id': 0}
res = colec.find(query, select)

list(res)

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'Cyworld',
  'founded_year': 1999,
  'acquisition': {'price_amount': 7140000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'Neopets',
  'founded_year': 1999,
  'acquisition': {'price_amount': 160000000}},
 {'name': 'Sun Microsystems',
  'founded_year': 1982,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Zappos',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Sabre',
  'founded_year': 1960,
  'acquisition': {'price_amount': 4300000000.0}},
 {'name': 'Lastminute',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1008000000}},
 {'name': 'Sportsline',
  'founded_year': 1994,
  'acquisition': {'price_amount': 64000000}},
 {'name': 'Digitas',
  'founded_year': 1980,
  'acquisition': {'price_amount': 1300000000}},
 {'name': 'Webshots',
  'founded_year': 1995,
  'acquisition': {'price_amount': 71000000}},
 {'name': 'MIVA',
  'founded_year': 1999,
  'acquisition': {'price_amount': 11600000}},
 {'name': 'iVillage',
  'founded_year': 1995,
  'acquisition': {'price_amount': 600000000}},
 {'name': 'PriceGrabber',
  'founded_year': 1999,
  'acquisition': {'price_amount': 485000000}},
 {'name': 'LinkShare',
  'founded_year': 1996,
  'acquisition': {'price_amount': 425000000}},
 {'name': 'Kaboose',
  'founded_year': 1999,
  'acquisition': {'price_amount': 18400000}},
 {'name': 'Fastclick',
  'founded_year': 1998,
  'acquisition': {'price_amount': 132000000}},
 {'name': 'Eloqua',
  'founded_year': 1999,
  'acquisition': {'price_amount': 871000000}},
 {'name': 'Omniture',
  'founded_year': 1996,
  'acquisition': {'price_amount': 1800000000}},
 {'name': 'Interwoven',
  'founded_year': 1995,
  'acquisition': {'price_amount': 775000000}},
 {'name': 'HowStuffWorks',
  'founded_year': 1999,
  'acquisition': {'price_amount': 250000000}},
 {'name': 'RealAge',
  'founded_year': 1994,
  'acquisition': {'price_amount': 100000000}},
 {'name': 'Match',
  'founded_year': 1995,
  'acquisition': {'price_amount': 50000000}},
 {'name': 'Xdrive',
  'founded_year': 1999,
  'acquisition': {'price_amount': 30000000}},
 {'name': 'Alexa',
  'founded_year': 1996,
  'acquisition': {'price_amount': 250000000}},
 {'name': 'Offermatica',
  'founded_year': 1996,
  'acquisition': {'price_amount': 65000000}},
 {'name': 'ioko',
  'founded_year': 1996,
  'acquisition': {'price_amount': 91400000}},
 {'name': 'MyNewPlace',
  'founded_year': 1999,
  'acquisition': {'price_amount': 74400000}},
 {'name': 'DoubleClick',
  'founded_year': 1996,
  'acquisition': {'price_amount': 1100000000}},
 {'name': 'Danger',
  'founded_year': 1999,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'Direct Hit',
  'founded_year': 1998,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'BEA Systems',
  'founded_year': 1995,
  'acquisition': {'price_amount': 8500000000.0}},
 {'name': 'Napster',
  'founded_year': 1999,
  'acquisition': {'price_amount': 121000000}},
 {'name': 'SafeNet',
  'founded_year': 1983,
  'acquisition': {'price_amount': 634000000}},
 {'name': 'LowerMyBills',
  'founded_year': 1999,
  'acquisition': {'price_amount': 330000000}},
 {'name': 'The FeedRoom',
  'founded_year': 1999,
  'acquisition': {'price_amount': 10000000}},
 {'name': 'Various',
  'founded_year': 1996,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'ServerBeach',
  'founded_year': 1990,
  'acquisition': {'price_amount': 7500000}},
 {'name': 'aQuantive',
  'founded_year': 1997,
  'acquisition': {'price_amount': 6400000000.0}},
 {'name': 'PeopleSupport',
  'founded_year': 1998,
  'acquisition': {'price_amount': 250000000}},
 {'name': 'Wedding Channel',
  'founded_year': 1997,
  'acquisition': {'price_amount': 78000000}},
 {'name': 'iCrossing',
  'founded_year': 1998,
  'acquisition': {'price_amount': 325000000}},
 {'name': 'Responsys',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Homestead Technologies',
  'founded_year': 1996,
  'acquisition': {'price_amount': 170000000}},
 {'name': 'Phoenix Technologies',
  'founded_year': 1979,
  'acquisition': {'price_amount': 139000000}},
 {'name': 'Macromedia',
  'founded_year': 1992,
  'acquisition': {'price_amount': 3400000000.0}},
 {'name': 'GlobalEnglish',
  'founded_year': 1997,
  'acquisition': {'price_amount': 90000000}},
 {'name': 'PGP Corporation',
  'founded_year': 1996,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'Iomega',
  'founded_year': 1980,
  'acquisition': {'price_amount': 213000000}},
 {'name': 'BizRate',
  'founded_year': 1996,
  'acquisition': {'price_amount': 525000000}},
 {'name': 'MessageLabs',
  'founded_year': 1999,
  'acquisition': {'price_amount': 695000000}},
 {'name': 'BubbleShare',
  'founded_year': 1991,
  'acquisition': {'price_amount': 3000000}},
 {'name': 'Gracenote',
  'founded_year': 1998,
  'acquisition': {'price_amount': 170000000}},
 {'name': 'Razorfish',
  'founded_year': 1995,
  'acquisition': {'price_amount': 160000000}},
 {'name': 'Sonic Solutions',
  'founded_year': 1987,
  'acquisition': {'price_amount': 720000000}},
 {'name': 'Siebel Systems',
  'founded_year': 1993,
  'acquisition': {'price_amount': 5850000000.0}},
 {'name': 'Aprimo',
  'founded_year': 1998,
  'acquisition': {'price_amount': 525000000}},
 {'name': 'Opsware',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1600000000}},
 {'name': 'Netscape',
  'founded_year': 1994,
  'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'Vignette',
  'founded_year': 1995,
  'acquisition': {'price_amount': 310000000}},
 {'name': 'Blue Coat Systems',
  'founded_year': 1996,
  'acquisition': {'price_amount': 1300000000}},
 {'name': 'Ars Technica',
  'founded_year': 1998,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'LSI',
  'founded_year': 1980,
  'acquisition': {'price_amount': 6600000000.0}},
 {'name': 'VMware',
  'founded_year': 1998,
  'acquisition': {'price_amount': 635000000}},
 {'name': 'OpenAir',
  'founded_year': 1999,
  'acquisition': {'price_amount': 33000000}},
 {'name': 'mindSHIFT Technologies',
  'founded_year': 1999,
  'acquisition': {'price_amount': 167000000}},
 {'name': 'InsureMe',
  'founded_year': 1993,
  'acquisition': {'price_amount': 85000000}},
 {'name': 'SwapDrive',
  'founded_year': 1998,
  'acquisition': {'price_amount': 123000000}},
 {'name': 'Marvel Entertainment',
  'founded_year': 1988,
  'acquisition': {'price_amount': 4000000000.0}},
 {'name': 'CyberCoders',
  'founded_year': 1999,
  'acquisition': {'price_amount': 105000000}},
 {'name': 'Channel Intelligence',
  'founded_year': 1999,
  'acquisition': {'price_amount': 125000000}},
 {'name': 'Q-go',
  'founded_year': 1999,
  'acquisition': {'price_amount': 34000000}},
 {'name': 'Xerox',
  'founded_year': 1906,
  'acquisition': {'price_amount': 32500000}},
 {'name': 'Speedera Networks',
  'founded_year': 1999,
  'acquisition': {'price_amount': 130000000}},
 {'name': "eBaum's World",
  'founded_year': 1998,
  'acquisition': {'price_amount': 32500000}},
 {'name': 'Audible',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'Extend Media',
  'founded_year': 1991,
  'acquisition': {'price_amount': 80000000}},
 {'name': 'The Weather Channel',
  'founded_year': 1982,
  'acquisition': {'price_amount': 3500000000.0}},
 {'name': 'Pixar',
  'founded_year': 1986,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Equallogic',
  'founded_year': 1984,
  'acquisition': {'price_amount': 1400000000}},
 {'name': 'Foundry Networks',
  'founded_year': 1996,
  'acquisition': {'price_amount': 3000000000.0}},
 {'name': 'Zagat',
  'founded_year': 1979,
  'acquisition': {'price_amount': 151000000}},
 {'name': 'SPSS',
  'founded_year': 1968,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'NetQoS',
  'founded_year': 1999,
  'acquisition': {'price_amount': 200000000}},
 {'name': 'VivaSmart',
  'founded_year': 1999,
  'acquisition': {'price_amount': 8900000}},
 {'name': 'MediaVast',
  'founded_year': 1999,
  'acquisition': {'price_amount': 202000000}},
 {'name': 'Voxeo',
  'founded_year': 1999,
  'acquisition': {'price_amount': 150000000}},
 {'name': 'EyeWonder',
  'founded_year': 1999,
  'acquisition': {'price_amount': 66000000}},
 {'name': 'VideoSurf',
  'founded_year': 1840,
  'acquisition': {'price_amount': 100000000}},
 {'name': 'Unilever',
  'founded_year': 1930,
  'acquisition': {'price_amount': 575000000}},
 {'name': 'Global Crossing',
  'founded_year': 1997,
  'acquisition': {'price_amount': 3000000000.0}},
 {'name': 'iWeb Technologies',
  'founded_year': 1996,
  'acquisition': {'price_amount': 145000000}},
 {'name': 'Ciao',
  'founded_year': 1999,
  'acquisition': {'price_amount': 154000000}},
 {'name': 'AKQA',
  'founded_year': 1995,
  'acquisition': {'price_amount': 200000000}},
 {'name': 'Internet Brands',
  'founded_year': 1998,
  'acquisition': {'price_amount': 640000000}},
 {'name': 'Litmus Media',
  'founded_year': 1999,
  'acquisition': {'price_amount': 13000000}},
 {'name': '3Com',
  'founded_year': 1980,
  'acquisition': {'price_amount': 2700000000.0}},
 {'name': 'MediaVast',
  'founded_year': 1999,
  'acquisition': {'price_amount': 202000000}},
 {'name': 'Voxeo',
  'founded_year': 1999,
  'acquisition': {'price_amount': 150000000}},
 {'name': 'EyeWonder',
  'founded_year': 1999,
  'acquisition': {'price_amount': 66000000}},
 {'name': 'VideoSurf',
  'founded_year': 1840,
  'acquisition': {'price_amount': 100000000}},
 {'name': 'Unilever',
  'founded_year': 1930,
  'acquisition': {'price_amount': 575000000}},
 {'name': 'Global Crossing',
  'founded_year': 1997,
  'acquisition': {'price_amount': 3000000000.0}},
 {'name': 'iWeb Technologies',
  'founded_year': 1996,
  'acquisition': {'price_amount': 145000000}},
 {'name': 'Ciao',
  'founded_year': 1999,
  'acquisition': {'price_amount': 154000000}},
 {'name': 'AKQA',
  'founded_year': 1995,
  'acquisition': {'price_amount': 200000000}},
 {'name': 'Internet Brands',
  'founded_year': 1998,
  'acquisition': {'price_amount': 640000000}},
 {'name': 'Litmus Media',
  'founded_year': 1999,
  'acquisition': {'price_amount': 13000000}},
 {'name': '3Com',
  'founded_year': 1980,
  'acquisition': {'price_amount': 2700000000.0}},
 {'name': 'MapQuest',
  'founded_year': 1996,
  'acquisition': {'price_amount': 1100000000}},
 {'name': 'GeoCities',
  'founded_year': 1996,
  'acquisition': {'price_amount': 2870000000.0}},
 {'name': 'eGroups',
  'founded_year': 1998,
  'acquisition': {'price_amount': 432000000}},
 {'name': 'AlltheWeb',
  'founded_year': 1999,
  'acquisition': {'price_amount': 100000000}},
 {'name': 'Navteq',
  'founded_year': 1985,
  'acquisition': {'price_amount': 8100000000.0}},
 {'name': 'EachNet',
  'founded_year': 1999,
  'acquisition': {'price_amount': 150000000}},
 {'name': 'Berkeley Networks',
  'founded_year': 1996,
  'acquisition': {'price_amount': 2800000000.0}},
 {'name': 'Kiwibox',
  'founded_year': 1999,
  'acquisition': {'price_amount': 2700000}},
 {'name': 'TARGUSinfo',
  'founded_year': 1993,
  'acquisition': {'price_amount': 650000000}},
 {'name': 'Whale Communications',
  'founded_year': 1998,
  'acquisition': {'price_amount': 70000000}},
 {'name': 'InfoInterActive',
  'founded_year': 1997,
  'acquisition': {'price_amount': 28200000}},
 {'name': 'Gateway',
  'founded_year': 1985,
  'acquisition': {'price_amount': 710000000}},
 {'name': 'MovieFone',
  'founded_year': 1989,
  'acquisition': {'price_amount': 525000000}},
 {'name': 'ICQ',
  'founded_year': 1997,
  'acquisition': {'price_amount': 187500000}},
 {'name': 'Auditude',
  'founded_year': 1999,
  'acquisition': {'price_amount': 120000000}},
 {'name': 'Centennial Communications Corp',
  'founded_year': 1988,
  'acquisition': {'price_amount': 944000000}},
 {'name': 'National Semiconductor',
  'founded_year': 1959,
  'acquisition': {'price_amount': 6500000000.0}},
 {'name': 'QuickArrow',
  'founded_year': 1998,
  'acquisition': {'price_amount': 19400000}},
 {'name': 'Sendmail',
  'founded_year': 1998,
  'acquisition': {'price_amount': 23000000}},
 {'name': 'SoftImage',
  'founded_year': 1986,
  'acquisition': {'price_amount': 35000000}},
 {'name': 'DigitalThink',
  'founded_year': 1996,
  'acquisition': {'price_amount': 120000000}},
 {'name': 'Novell',
  'founded_year': 1979,
  'acquisition': {'price_amount': 2200000000.0}},
 {'name': 'Air2Web',
  'founded_year': 1999,
  'acquisition': {'price_amount': 19000000}},
 {'name': 'Vocollect',
  'founded_year': 1988,
  'acquisition': {'price_amount': 190000000}},
 {'name': 'Sterling Commerce',
  'founded_year': 1975,
  'acquisition': {'price_amount': 3900000000.0}},
 {'name': 'Transmeta',
  'founded_year': 1995,
  'acquisition': {'price_amount': 255600000}},
 {'name': 'AllRecipes',
  'founded_year': 1997,
  'acquisition': {'price_amount': 175000000}},
 {'name': 'Sybase',
  'founded_year': 1984,
  'acquisition': {'price_amount': 5800000000.0}},
 {'name': 'Agile Software',
  'founded_year': 1995,
  'acquisition': {'price_amount': 495000000}},
 {'name': 'Orbiscom',
  'founded_year': 1999,
  'acquisition': {'price_amount': 100000000}},
 {'name': 'Terawave Communications',
  'founded_year': 1998,
  'acquisition': {'price_amount': 3200000}},
 {'name': 'Network Physics',
  'founded_year': 1999,
  'acquisition': {'price_amount': 10000000}},
 {'name': 'UGO Entertainment',
  'founded_year': 1998,
  'acquisition': {'price_amount': 85000000}},
 {'name': 'Qualcomm Atheros',
  'founded_year': 1998,
  'acquisition': {'price_amount': 3100000000.0}},
 {'name': 'RichFX',
  'founded_year': 1998,
  'acquisition': {'price_amount': 3100000}},
 {'name': 'DemandTec',
  'founded_year': 1999,
  'acquisition': {'price_amount': 440000000}},
 {'name': 'Linux Networx',
  'founded_year': 1989,
  'acquisition': {'price_amount': 90000000}},
 {'name': 'NextBus',
  'founded_year': 1997,
  'acquisition': {'price_amount': 20600000}},
 {'name': 'Advanced Mobile Solutions',
  'founded_year': 1998,
  'acquisition': {'price_amount': 2500000}},
 {'name': 'Applied Systems',
  'founded_year': 1980,
  'acquisition': {'price_amount': 1800000000}},
 {'name': 'CellGate',
  'founded_year': 1998,
  'acquisition': {'price_amount': 2500000}},
 {'name': 'Secure Computing',
  'founded_year': 1984,
  'acquisition': {'price_amount': 465000000}},
 {'name': 'SonicWALL',
  'founded_year': 1991,
  'acquisition': {'price_amount': 717000000}},
 {'name': 'Applimation',
  'founded_year': 1998,
  'acquisition': {'price_amount': 40000000}},
 {'name': 'Tek-Tools Software',
  'founded_year': 1996,
  'acquisition': {'price_amount': 42000000}},
 {'name': 'Kenexa',
  'founded_year': 1987,
  'acquisition': {'price_amount': 1300000000}},
 {'name': 'LiveOffice',
  'founded_year': 1998,
  'acquisition': {'price_amount': 115000000}},
 {'name': 'Zeus',
  'founded_year': 1995,
  'acquisition': {'price_amount': 140000000}},
 {'name': 'RightNow Technologies',
  'founded_year': 1997,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Intermec',
  'founded_year': 1997,
  'acquisition': {'price_amount': 600000000}},
 {'name': 'Lotus Development Corporation',
  'founded_year': 1982,
  'acquisition': {'price_amount': 3500000000.0}},
 {'name': 'Tell Me More',
  'founded_year': 1987,
  'acquisition': {'price_amount': 28000000}},
 {'name': 'AeroScout',
  'founded_year': 1999,
  'acquisition': {'price_amount': 238800000}},
 {'name': 'Omneon',
  'founded_year': 1998,
  'acquisition': {'price_amount': 274000000}},
 {'name': 'Wind River',
  'founded_year': 1981,
  'acquisition': {'price_amount': 884000000}},
 {'name': 'Voxmobili',
  'founded_year': 1999,
  'acquisition': {'price_amount': 35120000}},
 {'name': 'Guava Technologies',
  'founded_year': 1998,
  'acquisition': {'price_amount': 22600000}},
 {'name': 'Alpine Biomed',
  'founded_year': 1989,
  'acquisition': {'price_amount': 46950000}},
 {'name': 'Estech',
  'founded_year': 1996,
  'acquisition': {'price_amount': 60000000}},
 {'name': 'Axsys',
  'founded_year': 1997,
  'acquisition': {'price_amount': 643000000}},
 {'name': 'NetLogic Microsystems',
  'founded_year': 1995,
  'acquisition': {'price_amount': 3700000000.0}},
 {'name': 'American Land Lease',
  'founded_year': 1986,
  'acquisition': {'price_amount': 438000000}},
 {'name': 'LigoCyte Pharmaceuticals',
  'founded_year': 1998,
  'acquisition': {'price_amount': 60000000}},
 {'name': 'NetThruPut',
  'founded_year': 1999,
  'acquisition': {'price_amount': 52200000}},
 {'name': 'Tundra Semiconductor',
  'founded_year': 1995,
  'acquisition': {'price_amount': 100830000}},
 {'name': 'Eveready',
  'founded_year': 1971,
  'acquisition': {'price_amount': 167000000}},
 {'name': 'Wavesat',
  'founded_year': 1993,
  'acquisition': {'price_amount': 10000000}},
 {'name': 'Affiliated Computer Services',
  'founded_year': 1988,
  'acquisition': {'price_amount': 5750000000.0}},
 {'name': 'Phase Forward',
  'founded_year': 1997,
  'acquisition': {'price_amount': 685000000}},
 {'name': 'Stiefel',
  'founded_year': 1847,
  'acquisition': {'price_amount': 3600000000.0}},
 {'name': 'Amcom Software',
  'founded_year': 1984,
  'acquisition': {'price_amount': 163300000}},
 {'name': 'KAZ Group',
  'founded_year': 1988,
  'acquisition': {'price_amount': 161000000}},
 {'name': 'Hifn',
  'founded_year': 1996,
  'acquisition': {'price_amount': 63230000}},
 {'name': 'Onsite3',
  'founded_year': 1992,
  'acquisition': {'price_amount': 28000000}},
 {'name': 'Digital Forest',
  'founded_year': 1998,
  'acquisition': {'price_amount': 24820000}},
 {'name': 'Connect3 Systems',
  'founded_year': 1993,
  'acquisition': {'price_amount': 13450000}},
 {'name': 'ChoicePay',
  'founded_year': 1996,
  'acquisition': {'price_amount': 7500000}},
 {'name': 'Tidal Software',
  'founded_year': 1979,
  'acquisition': {'price_amount': 105000000}},
 {'name': 'AppStream',
  'founded_year': 1999,
  'acquisition': {'price_amount': 53000000}},
 {'name': 'Enliven Marketing Technologies',
  'founded_year': 1987,
  'acquisition': {'price_amount': 71000000}},
 {'name': 'NetManage',
  'founded_year': 1990,
  'acquisition': {'price_amount': 73300000}},
 {'name': 'Integration Associates',
  'founded_year': 1991,
  'acquisition': {'price_amount': 87110000}},
 {'name': 'Sophos',
  'founded_year': 1985,
  'acquisition': {'price_amount': 830000000}},
 {'name': 'HireRight',
  'founded_year': 1990,
  'acquisition': {'price_amount': 249000000}},
 {'name': 'Photon Dynamics',
  'founded_year': 1986,
  'acquisition': {'price_amount': 290000000}},
 {'name': 'NetCracker Technology',
  'founded_year': 1993,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'NuTech Solutions',
  'founded_year': 1999,
  'acquisition': {'price_amount': 471390000}},
 {'name': 'Metrologic Instruments',
  'founded_year': 1968,
  'acquisition': {'price_amount': 720000000}},
 {'name': 'Sierra Monolithics',
  'founded_year': 1986,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Veeco Instruments',
  'founded_year': 1945,
  'acquisition': {'price_amount': 30000000}},
 {'name': 'Lightera',
  'founded_year': 1998,
  'acquisition': {'price_amount': 552000000}},
 {'name': 'NetScaler',
  'founded_year': 1997,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'Catapult Communications',
  'founded_year': 1985,
  'acquisition': {'price_amount': 106140000}},
 {'name': 'Assessment Evaluation Services',
  'founded_year': 1994,
  'acquisition': {'price_amount': 1600000}},
 {'name': 'RapidSwitch',
  'founded_year': 1999,
  'acquisition': {'price_amount': 5250000}},

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [223]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [224]:
# Your Code
query = {}
select = {'name': 1, 'founded_year': 1, '_id': 0}
res = colec.find(query, select).sort('founded_year', 1).limit(10)

list(res)

[{'name': 'Flektor', 'founded_year': None},
 {'name': 'SpinVox', 'founded_year': None},
 {'name': 'Info', 'founded_year': None},
 {'name': 'Lala', 'founded_year': None},
 {'name': 'JotSpot', 'founded_year': None},
 {'name': 'Gannett', 'founded_year': None},
 {'name': 'Tun3r', 'founded_year': None},
 {'name': 'There', 'founded_year': None},
 {'name': 'NetRatings', 'founded_year': None},
 {'name': 'Mercora', 'founded_year': None}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [225]:
# Your Code
query = {'$and': [{'founded_day': {'$lte': 7}}, {'founded_month': {'$eq': 1}}], '$expr': {'$ne': ['$acquisition.price_amount', None]}}
select = {'name': 1, 'acquisition.price_amount': 1, '_id': 0}
sort = [('acquisition.price_amount', -1)]

res = colec.find(query, select).sort(sort).limit(10)

list(res)

[{'name': 'Zappos', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'BlueLithium', 'acquisition': {'price_amount': 300000000}},
 {'name': 'Jajah', 'acquisition': {'price_amount': 207000000}},
 {'name': 'Exalead', 'acquisition': {'price_amount': 162000000}},
 {'name': 'Storwize', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Farecast', 'acquisition': {'price_amount': 115000000}},
 {'name': 'CyberCoders', 'acquisition': {'price_amount': 105000000}},
 {'name': 'ioko', 'acquisition': {'price_amount': 91400000}},
 {'name': 'ScanScout', 'acquisition': {'price_amount': 86000000}},
 {'name': 'Ascribe', 'acquisition': {'price_amount': 57500000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [226]:
# Your Code
query = {'$and': [{'category_code': 'web'}, {'number_of_employees': {'$gt': 4000}}]}
select = {'name': 1, 'number_of_employees': 1, '_id': 0}
sort = [('number_of_employees', 1)]
res = colec.find(query, select).sort(sort).limit(10)

list(res)

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Experian', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [231]:
# Your Code
query = {'$and': [{'acquisition.price_amount': {'$gt': 10000000}}, {'acquisition.price_currency_code': 'EUR'}]}
select = {'name': 1, 'acquisition.price_amount': 1, 'acquisition.price_currency_code': 1, '_id': 0}
res = colec.find(query, select)

list(res)

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [234]:
# Youquery = {'acquisition.acquired_month': {'$lte': 3}}
select = {'name': 1, 'acquisition': 1, '_id': 0}
res = colec.find(query, select).limit(2)

list(res)

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000,
   'price_currency_code': 'EUR',
   'term_code': 'cash',
   'source_url': 'http://www.techcrunch.com/2008/05/16/danish-mobile-social-network-zyb-acquired-by-vodafone-for-e315-million/',
   'source_description': 'Danish Network ZYB Acquired By Vodafone For 31.5 million',
   'acquired_year': 2008,
   'acquired_month': 5,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Vodafone', 'permalink': 'vodafone'}}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000,
   'price_currency_code': 'EUR',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2008/01/03/nokia-siemens-acquires-apertio-for-e140m/',
   'source_description': 'Nokia Siemens Acquires Apertio For 140m',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 3,
   'acquiring_company': {'name': 'Nokia Siemens Networks',
    'permalink': 'nokia-siemens-networks'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [242]:

query = {'$and': [{'founded_year': {'$gte': 2000}}, {'founded_year': {'$lte': 2010}}, {'acquisition.acquired_year': {'$gte': 2011}}, {'acquisition': {'$exists': True}}]}
select = {'name': 1, 'founded_year': 1, 'acquisition': 1, '_id': 0}
res = colec.find(query, select).limit(2)
list(res)

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'price_amount': 500000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/07/12/betaworks-acquires-digg/',
   'source_description': 'Betaworks Acquires Digg (TechCrunch)',
   'acquired_year': 2012,
   'acquired_month': 7,
   'acquired_day': 12,
   'acquiring_company': {'name': 'betaworks', 'permalink': 'betaworks'}}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [230]:
# Your Code