# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\gamm\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\gamm\anaconda3\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
from pymongo import MongoClient
import pandas as pd

In [5]:
#conexión a mongodb
cursor = MongoClient()

In [6]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [7]:
# ver las bases de datos

cursor.list_database_names()

['admin', 'companies', 'config', 'local']

In [21]:
#conectamos con la base de datos en mongoDB

db = cursor.companies
colec = db.companies

In [26]:
colec

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies'), 'companies')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [37]:
query = {"name" :"Babelgum"}
select = {"_id" : 0, "name" : 1}
list(colec.find(query, select))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [55]:
# limito a 10 para que sea más cómodo y sólo selecciono columna name
query = {"number_of_employees" : {'$gte': 5000}}
select= {"_id" : 0, "name" : 1}

list(colec.find(query,select).limit(10))

[{'name': 'Facebook'},
 {'name': 'eBay'},
 {'name': 'Cisco'},
 {'name': 'Yahoo!'},
 {'name': 'Google'},
 {'name': 'Intel'},
 {'name': 'Nintendo'},
 {'name': 'Adobe Systems'},
 {'name': 'Sony'},
 {'name': 'PayPal'},
 {'name': 'The Walt Disney Company'},
 {'name': 'AOL'},
 {'name': 'Webkinz'},
 {'name': 'Sun Microsystems'},
 {'name': 'Nokia'},
 {'name': 'Rakuten'},
 {'name': 'Microsoft'},
 {'name': 'Apple'},
 {'name': 'NetApp'},
 {'name': 'Motorola Solutions'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [59]:
# limito a d¡10 y eligo las columnas name y founded year

query = {"$and" : [{"founded_year" : {"$gte":2000}}, {"founded_year" : {"$lte":2005}}]}

select = {"_id":0, "name":1, "founded_year":1}

list(colec.find(query, select).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [135]:
# los rellené con asistencia del chatgpt

query = {"$and": [{"ipo.valuation_amount": {"$gt": 100000000}}, {"founded_year": {"$lt": 2010}}]}
select = {"_id": 0, "name": 1, "ipo": 1}
list(colec.find(query, select).limit(3))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [67]:
# Your Code
query={"number_of_employees":{"$lte":1000}, "founded_year":{"$lte":2005}}
select = {"_id":0, "number_of_employees":1, "founded_year":1, "name":1}

list(colec.find(query, select).limit(10))

[{'name': 'Wetpaint', 'number_of_employees': 47, 'founded_year': 2005},
 {'name': 'AdventNet', 'number_of_employees': 600, 'founded_year': 1996},
 {'name': 'Digg', 'number_of_employees': 60, 'founded_year': 2004},
 {'name': 'Fox Interactive Media',
  'number_of_employees': 0,
  'founded_year': 1979},
 {'name': 'Plaxo', 'number_of_employees': 50, 'founded_year': 2002},
 {'name': 'Technorati', 'number_of_employees': 35, 'founded_year': 2002},
 {'name': 'AddThis', 'number_of_employees': 120, 'founded_year': 2004},
 {'name': 'Jingle Networks', 'number_of_employees': 35, 'founded_year': 2005},
 {'name': 'Meetup', 'number_of_employees': 75, 'founded_year': 2002},
 {'name': 'LifeLock', 'number_of_employees': 644, 'founded_year': 2005}]

### 6. All the companies that don't include the `partners` field.

In [120]:
#si exiten valores none en la lista, que de devuelva los 10 primeros valores

query = {"partners": {"$exists": [None]}}
select = {"_id": 0, "name": 1, "partners": 1}
list(colec.find(query, select).limit(10))

[{'name': 'Wetpaint', 'partners': []},
 {'name': 'AdventNet', 'partners': []},
 {'name': 'Zoho', 'partners': []},
 {'name': 'Digg', 'partners': []},
 {'name': 'Facebook', 'partners': []},
 {'name': 'Omnidrive', 'partners': []},
 {'name': 'Postini', 'partners': []},
 {'name': 'Geni', 'partners': []},
 {'name': 'Flektor', 'partners': []},
 {'name': 'Fox Interactive Media', 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [104]:
# con None nos devuelve aquellas que tienen valores nulos

query = {"category_code": None}
select = {"_id": 0, "name": 1, "category_code": 1}

list(colec.find(query, select).limit(10))

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None},
 {'name': 'Drigg', 'category_code': None},
 {'name': 'SpaceTime', 'category_code': None},
 {'name': 'Touch Clarity', 'category_code': None},
 {'name': 'MMDAYS', 'category_code': None},
 {'name': 'Inside Group', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [127]:
query = {"number_of_employees": {"$gte": 100, "$lt": 1000}}
select = {"_id": 0, "name": 1, "number_of_employees": 1}

list(colec.find(query, select).limit(10))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [130]:
# Your Code
select = {"_id": 0, "name": 1, "ipo.valuation_amount": 1}

list(colec.find({}, select).sort("ipo.valuation_amount", -1).limit(10))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000.0}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000.0}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000.0}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000.0}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000.0}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000.0}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [136]:
# Your Code
query = {}
select = {"_id": 0, "name": 1, "number_of_employees": 1}
list(colec.find(query, select).sort("number_of_employees", -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [142]:
query = {"founded_month": {"$gt": 6, "$lte": 12}}
select = {"_id": 0, "name": 1, "founded_month": 1}
list(colec.find(query, select).limit(10))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [147]:
query = {"founded_year": {"$lt": 2000}, "acquisition.price_amount": {"$gt": 10000000}}
select = {"_id": 0, "name": 1, "founded_year": 1, "acquisition.price_amount": 1}

list(colec.find(query, select).limit(5))

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [154]:
query = {"acquisition.acquired_year": {"$gt": 2010}}
select = {"_id": 0, "name": 1, "acquisition": 1}

list(colec.find(query, select).sort("acquisition.acquired_year", -1).limit(3))

[{'name': 'Alverix',
  'acquisition': {'price_amount': 40000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://ir.safeguard.com/investor-relations/press-releases/press-release-details/2014/Safeguard-Scientifics-Partner-Company-Alverix-Acquired-by-BD/default.aspx',
   'source_description': 'Safeguard Scientifics Partner Company Alverix Acquired by BD',
   'acquired_year': 2014,
   'acquired_month': 1,
   'acquired_day': 7,
   'acquiring_company': {'name': 'Becton Dickinson',
    'permalink': 'becton-dickinson'}}},
 {'name': 'Nullsoft',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2014/01/01/aol-sells-winamp-and-shoutcast-music-services-to-online-radio-aggregator-radionomy/',
   'source_description': 'AOL Sells Winamp And Shoutcast Music Services To Online Radio Aggregator Radionomy',
   'acquired_year': 2014,
   'acquired_month': 1,
   'acquired_day': None,
   'acquiring_company': {'name': 'Radionomy', 'permalink': 'radionomy'}}},
 {'name': 'Sense Networks',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2014/01/06/yp-acquires-sense-networks/',
   'source_description': 'In Its First Acquisition, YP Buys Mobile Ad Company Sense Networks',
   'acquired_year': 2014,
   'acquired_month': 1,
   'acquired_day': 6,
   'acquiring_company': {'name': 'YP', 'permalink': 'yp-2'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [158]:
select = {"_id": 0, "name": 1, "founded_year":1}
query = {}
list(colec.find(query, select).sort("founded_year", -1).limit(10))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [163]:
query = {"founded_day": {"$lte": 7}}
select = {"_id": 0, "name": 1, "founded_day": 1, "acquisition.price_amount": 1}
list(colec.find(query, select).sort("acquisition.price_amount", -1).limit(5))

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [170]:
query = {"number_of_employees":{"$gt":4000}}
select_fields = {"_id":0, "number_of_employees":1, "homepage_url":1}

list(colec.find(query, select_fields).sort("number_of_employees", 1).limit(10))

[{'homepage_url': 'http://www.rfmd.com', 'number_of_employees': 4095},
 {'homepage_url': 'http://www.novell.com', 'number_of_employees': 4100},
 {'homepage_url': 'http://www.trendmicro.com', 'number_of_employees': 4239},
 {'homepage_url': 'http://www.nykredit.com', 'number_of_employees': 4296},
 {'homepage_url': 'http://www.expedia.com', 'number_of_employees': 4400},
 {'homepage_url': 'http://www.sabretravelnetwork.com',
  'number_of_employees': 4500},
 {'homepage_url': 'http://www.nrgenergy.com', 'number_of_employees': 4607},
 {'homepage_url': 'http://www.gottschalks.com', 'number_of_employees': 4800},
 {'homepage_url': 'http://linkedin.com', 'number_of_employees': 4800},
 {'homepage_url': 'http://www.kla-tencor.com', 'number_of_employees': 4900}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [174]:
query = {"acquisition.price_amount": {"$gt": 10000000}, "acquisition.price_currency_code": "EUR"}
select = {"_id": 0, "name": 1, "acquisition": 1}

list(colec.find(query, select))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000,
   'price_currency_code': 'EUR',
   'term_code': 'cash',
   'source_url': 'http://www.techcrunch.com/2008/05/16/danish-mobile-social-network-zyb-acquired-by-vodafone-for-e315-million/',
   'source_description': 'Danish Network ZYB Acquired By Vodafone For â‚¬31.5 million',
   'acquired_year': 2008,
   'acquired_month': 5,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Vodafone', 'permalink': 'vodafone'}}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000,
   'price_currency_code': 'EUR',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2008/01/03/nokia-siemens-acquires-apertio-for-e140m/',
   'source_description': 'Nokia Siemens Acquires Apertio For â‚¬140m',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 3,
   'acquiring_company': {'name': 'Nokia Siemens Networks',
    'permalink': 'nokia-siemens-networks'}}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000,
   'price_currency_code': 'EUR',
   'term_code': None,
   'source_url': 'http://www.research-live.com/news/m-and-a/toluna-buys-greenfield-online-survey-business-for-$40m/4000346.article',
   'source_description': 'Toluna buys Greenfield Online survey business for $40m',
   'acquired_year': 2009,
   'acquired_month': 6,
   'acquired_day': 26,
   'acquiring_company': {'name': 'Toluna', 'permalink': 'toluna'}}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000,
   'price_currency_code': 'EUR',
   'term_code': None,
   'source_url': 'http://www.clipperton.net/transactions/webedia/',
   'source_description': 'Webedia, one of the leading digital media groups in France, is acquired by Fimalac Group in a €70m+ transaction.',
   'acquired_year': 2013,
   'acquired_month': 9,
   'acquired_day': 12,
   'acquiring_company': {'name': 'Fimalac Group',
    'permalink': 'fimalac-group'}}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000,
   'price_currency_code': 'EUR',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2008/12/08/vodafone-acquires-swedens-wayfinder-for-e24-million/',
   'source_description': "Vodafone Acquires Sweden's WayFinder For â‚¬24 Million",
   'acquired_year': 2008,
   'acquired_month': 12,
   'acquired_day': 8,
   'acquiring_company': {'name': 'Vodafone', 'permalink': 'vodafone'}}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000,
   'price_currency_code': 'EUR',
   'term_code': 'cash',
   'source_url': 'http://financial.tmcnet.com/mergers-acquisitions/news/2010/08/05/4940696.htm',
   'source_description': "'Telefonica confirms Tuenti stake acquisition'",
   'acquired_year': 1974,
   'acquired_month': 7,
   'acquired_day': 7,
   'acquiring_company': {'name': 'Telefonica', 'permalink': 'telefonica'}}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000,
   'price_currency_code': 'EUR',
   'term_code': None,
   'source_url': 'http://www.springer-sbm.com/index.php?id=291&backPID=131&L=0&tx_tnc_news=4970&cHash=56b1d882b2',
   'source_description': 'Springer to acquire BioMed Central Group ',
   'acquired_year': 2008,
   'acquired_month': 10,
   'acquired_day': 6,
   'acquiring_company': {'name': 'Springer', 'permalink': 'springer'}}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [176]:
query = {"acquisition.acquired_month": {"$lte": 3}}
select = {"_id": 0, "name": 1, "acquisition": 1}
list(colec.find(query, select).limit(3))

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [178]:
query = {"$and": [
            {"founded_year": {"$gte": 2000, "$lte": 2010}},
            {"acquisition.acquired_year": {"$not": {"$lt": 2011}}}
        ]}
select = {"_id": 0, "name": 1, "founded_year": 1, "acquisition": 1}

list(colec.find(query, select).limit(3))

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}},
 {'name': 'Zoho', 'founded_year': 2005, 'acquisition': None},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'price_amount': 500000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/07/12/betaworks-acquires-digg/',
   'source_description': 'Betaworks Acquires Digg (TechCrunch)',
   'acquired_year': 2012,
   'acquired_month': 7,
   'acquired_day': 12,
   'acquiring_company': {'name': 'betaworks', 'permalink': 'betaworks'}}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [187]:

#no supe como hacerlo

query = {"deadpooled_year": {"$gt": {"$add": ["$founded_year", 3]}}}
select = {"_id": 0, "name": 1, "founded_year": 1, "deadpooled_year": 1}

list(colec.find(query, select))

[]